<Limelight>
	<Display>
		<Screen>1</Screen>
		<Background>/Users/James/Documents/Webpage/livewire.hk/graphics/web/background.png</Background>
		<NumberOfLines>10</NumberOfLines>
		<TextItems>
			<Text>
				<Name>Title</Name>
				<Show></Show>
				<ShowFirst></ShowFirst>
				<Position>
					<Horizontal></Horizontal>
					<Vertical></Vertical>
					<Left></Left>
					<Top></Top>
				</Position>
				<Font>
					<Name></Name>
					<Style></Style>
					<Size></Size>
					<Color></Color>
				</Font>
			</Text>
			<Text>
				<Name>Main</Name>
				<Show></Show>
				<ShowFirst></ShowFirst>
				<Position>
					<Horizontal></Horizontal>
					<Vertical></Vertical>
					<Left></Left>
					<Top></Top>
				</Position>
				<Font>
					<Name></Name>
					<Style></Style>
					<Size></Size>
					<Color></Color>
				</Font>
			</Text>
		</TextItems>
	</Display>
	<Folders>
		<Folder>
			<Name>Songs</Name>
			<Path>/Users/James/Documents/Worship/Lyrics</Path>
		</Folder>
	</Folders>
	<Preview>
		<Left>320</Left>
		<Top>265</Top>
		<Width>320</Width>
		<Height>240</Height>
		<Show>TRUE</Show>
	</Preview>
	<Main>
		<Left>0</Left>
		<Top>0</Top>
		<Width>640</Width>
		<Height>240</Height>
		<Show>TRUE</Show>
	</Main>
	<Navigation>
		<Left>0</Left>
		<Top>265</Top>
		<Width>320</Width>
		<Height>240</Height>
		<Show>TRUE</Show>
	</Navigation>
	<FileTypes>
		<PowerPoint>
			<Ext>.ppt</Ext>
		</PowerPoint>
		<Videos>
			<Ext>.mpg</Ext>
			<Ext>.mpeg</Ext>
			<Ext>.mp4</Ext>
			<Ext>.avi</Ext>
			<Ext>.divx</Ext>
			<Ext>.xvid</Ext>
		</Videos>
		<Images>
			<Ext>.png</Ext>
			<Ext>.gif</Ext>
			<Ext>.jpg</Ext>
			<Ext>.jpeg</Ext>
			<Ext>.bmp</Ext>
		</Images>
		<Text>
			<Ext>.txt</Ext>
		</Text>
		<XML>
			<Ext>.xml</Ext>
		</XML>
		<Word>
			<Ext>.doc</Ext>
		</Word>
	</FileTypes>
</Worship>